# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# turbo
.turbo/

# build output
dist/
build/

# environment
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# testing / coverage
coverage/

# misc
*.tsbuildinfo
Oladayo_Ahmod_Resume.pdf*
